version: '3.9'

services:
    backend:
        build:
            dockerfile: Dockerfile
            context: ./backend
        container_name: django
        ports:
            - '8000:8000'
        volumes:
            - ./backend/:/usr/src/app
        environment:
            - DJANGO_SUPERUSER_USERNAME=${DJANGO_SUPERUSER_USERNAME}
            - DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD}
            - DJANGO_SUPERUSER_EMAIL=${DJANGO_SUPERUSER_EMAIL}
        command: >
            sh -c "python manage.py migrate &&
            python manage.py createsuperuser --no-input &&
            python manage.py runserver 0.0.0.0:8000"
